#!/sbin/openrc-run

command="/usr/local/radpanel/radpanel"
command_background=true
pidfile="/run/radpanel.pid"
description="radpanel Service"
procname="radpanel"
depend() {
    need net
}
start_pre(){
    cd /usr/local/radpanel
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}